<ion-view view-title="Kaza app">
    <ion-content class="padding">
        <button ng-click="Dashboard.acionarLampada()" class="button button-block button-calm ion-ios-lightbulb-outline">
            Acionar lâmpada
        </button>
        <div class="item range">
            <i class="icon ion-ios-lightbulb-outline"></i>
            <input type="range" ng-model="Dashboard.intensidade" ng-change="Dashboard.intensidadeLampada()" ng-model-options="{ debounce: 300 }">
            <i class="icon ion-ios-lightbulb"></i>
        </div>
        <button ng-click="Dashboard.acionarPortao()" class="button button-block button-royal ion-android-car">
            Acionar portão
        </button>
        <button ng-click="Dashboard.acionarAlarme()" class="button button-block button-assertive ion-ios-bell-outline">
            Acionar alarme
        </button>
    </ion-content>
</ion-view>
